<div class="row">


<h1>Admin Portal</h1>

  <h4><a href="/ingredients/new">Add a new ingredient</a></h4>

</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <h5>Edit Ingredients</h5>
    <% if @ingredients.any? %>
      <ul class="nav nav-pills nav-stacked">
        <% @ingredients.each do |ingredient| %>
          <li>
            <a href="/ingredients/<%= ingredient.id %>/edit"><%= ingredient.name %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<hr>
