<h1>Admin Portal</h1>

<a href="/ingredients/new">Add a new ingredient</a>

<!-- TODO: List of existing ingredients to edit -->
<h5>Edit Ingredients</h5>
<ul class="nav nav-pills nav-stacked">
  <li><a href="/ingredients/1">Prototype Ingredient 1</a></li>
</ul>
