<h2 class="cocktailnew"><a href="/cocktails/new">Create a new cocktail</a></h2>

<!-- buttons for themes -->
<% if @ingredients.any? %>
  <div class="row theme-btn-container">
    <h3>Browse by Theme:</h3>
    <% @ingredients.each do |ingredient| %>
      <a href="/ingredients/<%= ingredient.id %>">
        <div class="col-sm-4">
          <div class="ingredient-box <%= ingredient.theme_style %>">
            <h1><%= ingredient.name %></h1>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>No ingredients have been added!</h1>
  </div>
<% end %>
