<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient|%>
        <tr>
          <td><%= ingredient.name %></td>
          <td>
            <div class="col-xs-1">
              <form class="form-horizontal" role="form" action="/shoe_stores/<%#= shoe_store.id %>" method="get">
                <button type="submit" class="btn btn-link">View</button>
              </form>
            </div>
            <div class="col-xs-1">
              <form class="form-horizontal" role="form" action="/shoe_stores/<%#= shoe_store.id %>/edit" method="get">
                <button type="submit" class="btn btn-link">Edit</button>
              </form>
            </div>
            <div class="col-xs-1">
              <form class="form-horizontal" role="form" action="/shoe_stores/<%#= shoe_store.id %>" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn btn-link">Delete</button>
              </form>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/ingredients/new">Add Ingredient</a>
</div>
