
<div class="under-header">
  <h1 class="ing-name"><%= @theme.name %></h1>
</div>


<% if @cocktails.any? %>
  <div class="row theme-btn-container">
    <h3>Cocktails that contain <%= @theme.name %>:</h3>
    <% @cocktails.each do |cocktail| %>
      <a href="/cocktails/<%= cocktail.id %>">
        <div class="col-sm-4">
          <div class="ingredient-box">
            <h1><%= cocktail.name %></h1>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>No cocktails match your criteria!</h1>
  </div>
<% end %>
