* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 50px; /* '.push' must be the same height as 'footer' */
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

/* Description list is being used for ingredient lists */

.ingredient-list dt {
	font-weight: 400;
}

.ingredient-list dd {
	font-weight: 700;
}

@media (min-width: 768px) {
	.ingredient-list dd, .ingredient-list dt {
		line-height: 2;
	}

	.dl-horizontal .ingredient-list dt {
		width: 100px;
	}

	.dl-horizontal .ingredient-list dd {
		margin-left: 110px;
	}

.green {
	color: green;
}

.red {
	color: red;
}
