@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic|Playfair+Display+SC:400,400italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);



* {
	margin: 0;
	font-family: 'Roboto';
	font-weight: 300;
	color: #FEF8EB;
}

body {
	/*background: #17171B;*/
	background: #242120;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
	padding: 0;
}

/*LINKS*/

.admin a {
	color: #5fbbb1;
}

.admin button {
	color: #5fbbb1;
}

a {
	color: ##5fbbb1;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*CONCOCT HEADER*/

h1 {
	text-transform: uppercase;
	font-weight: 300;
}

header {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 4.75em;
	letter-spacing: .005em;
	margin-bottom: 10%;
	/*background: #666;*/
	padding-bottom: 30px;
	color: #FEF8EB;
}

header a {
	font-family: 'Playfair Display';
	font-weight: 700;
	color: #FEF8EB;

}

header a:hover {
	color: #fef8eb;
}

.under-header {
	height: 110px;
}


/*BUTTON GRID*/

.ingredient-box {
	text-align: center;
	background: #5fbbb1;
	margin: 3.75px;
	padding: 25px 0px;
	border-radius: 4px;
	color: #242120;
}

.ingredient-box:hover {
	color: #FEF8EB;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.3);
}

.theme-btn-container {
	margin-top: 3%;
	padding: 0 12px;
}

.theme-btn-container .col-sm-4 {
	padding: 0;
}

.theme-btn-container h3 {
	color: #FEF8EB;
	font-weight: 100;
	font-family: "Roboto";
	font-style: italic;
	letter-spacing: .04em;
	margin-left: 7px;
	margin-bottom: 7px;
	font-size: 1.35em;
	}

.ing-name {
	font-weight: 100;
	font-size: 3.5em;
	text-align: center;
	margin: 0;
	padding: 0;
}

.theme-btn-container button {
	height: 20px;
	margin-top: -7px;
}

.jumbotron {
	background: #242120 ;
	color: #FEF8EB;
}

/*FOOTER*/

footer {
	border-top: 1px solid #FEF8EB;
}

footer, .push {
	height: 50px; /* '.push' must be the same height as 'footer' */
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/


footer p,
footer a {
	display: inline;
	color: #777;
}

/* Description list is being used for ingredient lists */


/*COCKTAIL PAGE*/
.drink-details {
	font-size: 1.25em;
}

.drink-instructions {
	padding-top: 4px;
}



/*CUSTOM COCKTAIL BUTTON*/

.cocktailnew  {
	color: #FEF8EB;
	margin: auto;
	max-width: 100%;
	text-align: center;
	font-size: 2.5em;
	padding: 30px;
	border: 2px solid #FEF8EB;
	border-radius: 4px;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: 100;
}

.cocktailnew a {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: 100;
	color: #FEF8EB;
}

.cocktailnew:hover {
	border: 2px solid #ec6244;
	color: #ec6244;
}


.theme-btn-container button {
	color: #FEF8EB;
}

.theme-btn-container button:hover {
	color: #FEF8EB;
}


/*FORM STYLING*/

.btn-link {
	color: #5fbbb1;
	padding-left: 0;
}

.generate {
	background-color: rgba(0, 0, 0, 0);
	color: #fef8eb;
	padding: 12px;
	font-size: 20px;
	font-family: 'Roboto';
	font-weight: 300;
	border: 1.5px solid #FEF8EB;
	border-radius: 4px;
}

.generate:focus {
	outline: none;
	background: #fef8eb;
}

.generate:hover {
	background-color: #fef8eb;
	color: #242120;
}

#name-concoction .well {
	background-color: rgba(0, 0, 0, 0);
}

#name-concoction .well .btn {
	background-color: rgba(0, 0, 0, 0);
	border-color: #FEF8EB;
	color: #242120;
}
#name-concoction .well .btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: #FEF8EB;
	color: #FEF8EB;
}

.ingredientheader {
	padding-bottom: 15px;
	color: #fef8eb;
}

.ingredientsdiv li {
	font-size: 20px;
	list-style: none;
}

.ingredientsdiv .btn-link {
	border: 0px;
	text-decoration: none;
	color: #fef8eb;
}

.ingredient-list dt {
	font-weight: 100;
}

.ingredient-list dd {
	font-weight: 500;
}

.add-theme-list button {
	background-color: rgba(0, 0, 0, 0);
	padding: 8px 12px;
	border-color: #FEF8EB;
	color: #FEF8EB;
}

.add-theme-list button:hover {
	background-color: #FEF8EB;
	padding: 8px 12px;
	border-color: #242120;
	color: #242120;
}

/*FLASH ALERTS*/

.alert-success, .alert-danger {
	padding: 5px;
	color: #242120;
}

.alert-success, .alert-danger h3 {
	margin: 10px;
	font-family: 'Roboto';
	font-weight: 300;
}

/*MEDIA QUERIES*/

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (min-width: 768px) {
	.ingredient-list dd, .ingredient-list dt {
		line-height: 2;
	}

	.dl-horizontal dt {
		width: 80px;
	}

	.dl-horizontal dd {
		margin-left: 95px;
	}
}

.green {
	color: green;
}

.red {
	color: red;
}
