.theme-brunch {
  background-color: #ec6244;
}

.theme-classy {
  background-color: #415c82;
}

.theme-grandpa {
  background-color: #7e7878;
}

.theme-mexican {
  background-color: #e93c83;
}

.theme-tropical {
  background-color: #56c4b9;
}

.theme-winter {
  background-color: #93aebd;
}
